<div class="request-card">
  <header class="request-data">
    <div class="data">
      <span class="badge badge--counter" id="badge-counter">2</span>
      <p>آپلود مستندات</p>
    </div>
    <div class="request__date">1402/7/3</div>
  </header>
  <div class="request-title">
    <h3 class="__title">درخواست عضویت</h3>
    <p class="__id">شناسه درخواست #123456</p>
  </div>
  <footer class="request-view">
    <div class="profile-holder">
      <img class="profile__image" src="./assets/imgs/4.jpg" alt="" />
      <p class="profile__name">محمد محمدی</p>
    </div>
    <button class="btn btn--primary">مشاهده درخواست</button>
  </footer>
</div>
