@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: bold;
  src:/* url("../fonts/Vazir-Black.woff") format("woff"),
    url("../fonts/Vazir-Black.woff2") format("woff2"), */
    url("../fonts/Vazir-Black-FD.woff") format("woff"),
    url("../fonts/Vazir-Black-FD.woff2") format("woff2");
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 100;
  src: /*url("../fonts/Vazir-Light.woff") format("woff"),
    url("../fonts/Vazir-Light.woff2") format("woff2"),*/
     url("../fonts/Vazir-Light-FD.woff") format("woff"),
    url("../fonts/Vazir-Light-FD.woff2") format("woff2");
}

@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: normal;
  src: /*url("../fonts/Vazir-Regular.woff") format("woff"),
    url("../fonts/Vazir-Regular.woff2") format("woff2"),*/
     url("../fonts/Vazir-Regular-FD.woff") format("woff"),
    url("../fonts/Vazir-Regular-FD.woff2") format("woff2");
}
@font-face {
  font-family: vazir;
  font-style: normal;
  font-weight: 800;
  src: /*url("../fonts/Vazir-Bold.woff") format("woff"),
    url("../fonts/Vazir-Bold.woff2") format("woff2"),*/
     url("../fonts/Vazir-Bold-FD.woff") format("woff"),
    url("../fonts/Vazir-Bold-FD.woff2") format("woff2");
}
